.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer__text {
  margin-top: 96px;
  margin-bottom: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 114%;
  color: #ffffff;
}
